/* font-family: 'Montserrat', sans-serif; */


.container{
    max-width: 1240px;
    width: 100%;
    padding: 0px 20px;
}



/* =================global-style============== */


:root{
    --color-black: #000000;
    --color-white: #fff;
    --color-p: #9b95c9;
    --color-s: #30aad7;
    --color-t:#005b8b;
    --color-w:#61c2ee;
}


body{
    font-family: 'Montserrat', sans-serif;

}


/* ul {
	
	margin-left: -27px;
} */


li{
    list-style: none;
}





.btnn a{
    text-decoration: none;
    font-size: 16px;
    line-height: 22px;
    font-weight: bold;
    color: white;
    background: var(--color-p);
    padding: 13px 28px;
    border: none;
    border-radius: 30px 30px 30px 30px;

}

.btnnn a{
    text-decoration: none;
    font-size: 16px;
    line-height: 22px;
    font-weight: bold;
    color: white;
    background: var(--color-s);
    padding: 13px 35px;
    border: none;
    border-radius: 30px 30px 30px 30px;

}

.bold-text h2{
    font-size: 48px;
    line-height: 54px;
    font-weight: 700;
    color: var(--color-t);
}

.textt h3{
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    
}

.textt p{
    font-size: 14px;
    line-height: 20px;
}

.ptext p{
    font-size: 18px;
    line-height: 22px;
    font-weight: 300;
}





/* ===========topbar-section-------------- */


.row-pk{
    display: flex;
    justify-content: space-between;
} 

.col-6-jj ul{
    display: flex;
    justify-content: start;
    margin-top: 10px;
}

.blueee-icon li i {
    color:blue;
    margin-right: 5px;
}



.topbar-section a{
    text-decoration: none;
    color: white;
    font-size: 12px;
    padding: 0px 10px;
    
}

.topbar-section .row-pk ul li a:hover{
    color: red;
}




.topbar-section .me-5 {
	margin-right: 6rem !important;
}



/* ======================navbar-section======================== */

.navbar-section{
    z-index: 1;
}

.navbar-section{
    position: absolute;
    width: 100%;
    padding-top: 30px;
}

.row-qk{
    display: flex;
    justify-content: space-between;
}

.col-6-jm{
    padding-top: 30px;
    padding-right: 12px;
}


/* ================bannner-section======================= */

.banner-section {
	background-image: url(../img/banner.jpg);
	background-position:top center;
	background-repeat: no-repeat;
	background-size: cover;
    padding: 445px 0px;
    
}


.banner-section .content{
    position: absolute;
    top: 33%;
}

.banner-text{
    display: flex;
    gap: 20px;
    margin-top: 40px;
}




.content h1{
    font-size: 60px;
    line-height: 66px;
    color: var(--color-white);
    font-weight: 700;
}

.content p{
    font-size: 18px;
    line-height: 22px;
    font-weight: 300;
    color: var(--color-white);
    letter-spacing: 1px;
}



.banner-section .row {
	--bs-gutter-x:0rem;
	--bs-gutter-y: 0;
	display: flex;
	flex-wrap: wrap;
	margin-top: calc(-1 * var(--bs-gutter-y));
	margin-right: calc(-.5 * var(--bs-gutter-x));
	margin-left: calc(-.5 * var(--bs-gutter-x));
}


.text1{
    text-align: center;
    font-size: 36px;
    line-height: 42px;
    font-weight: 700;
    padding: 20px 0px;
    color: var(--color-white);
    background: var(--color-w);
}

.bg1{
    background: #30aad7;
}

.bg2{
    background: var(--color-t);
}

/* ===========sweat-card-section======================== */



.dentist-sweat-section{
    margin: 100px 0px;
}
.card-section .chi{
    background: #eff9fd;
    max-width: 385px;
}
.jii{
    font-size: 18px;
    line-height: 22px;
}

.card-section{
    display: flex;
    gap: 15px;
}

.row-qn ul{
    display: flex;
    justify-content: center;
    padding-top: 40px;
}
/* ========================latest-technology---friendly-section=================== */




.col-jp{
    margin-right: auto;
} 
.latest-technology-section {
	background-image: url(../img/latest-technology.jpg);
	background-position: right;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 155px 0px;
}

.friendly-section{
    background-image: url(../img/friendly-img.jpg);
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 157px;
    padding-bottom: 145px;
}



.col-js {
	max-width: 528px;
	margin-right: 0;
	margin-left: auto;
}

.latest-technology-section p {
	font-size: 18px;
	line-height: 24px;
	font-weight: 300;
	max-width: 480px;
}

.friendly-section p{
    font-size: 18px;
    line-height: 24px;
    font-weight: 300;
    max-width: 480px;
}

.latest-technology-section a{
    margin-top: 10px;
    display: inline-block;
}

.friendly-section a{
    margin-top: 10px;
    display: inline-block;
}


    
.friendly-section .textt h3{
    color: var(--color-s);
    font-weight: 300;
    margin-left: 0px;
}

.latest-technology-section .textt h3{
    color: var(--color-s);
    font-weight: 300;
    margin-left: 0px;
}


/* ===================dentist-trust-section================= */

.dentist-trust-section{
    background: var(--color-w);
    padding: 80px 0px;
}



.dentist-trust-section a{
    color: var(--color-t);
    background: var(--color-white);
    margin-top: 10px;
    display: inline-block;
    transition: .3s all;
}


.dentist-trust-section a:hover{
    color: var(--color-white);
    background-color: var(--color-s);
}


.dentist-trust-section h2{
    color: white;
}


.dentist-trust-section p{
    font-size: 18px;
    line-height: 24px;
    font-weight: 300;
    color: white;
}



/* ================dental-health-section============== */

.dental-health-section{
    margin: 100px 0px;
}


.dental-health-section .row-qt p {
	font-size: 14px;
	line-height: 20px;
	max-width: 300px;
	margin: 0 auto;
}

.row-qt{
    display: flex;
}
.dental-health-section .col-4 .health-img1{

    width: 170px;
    height: 170px;
    border-radius: 50%;
    background:#eff9fd;
    display: grid;
    place-content: center;
    margin: 0 auto;
    position: relative;

}

.dental-health-section .col-4 .health-img2{

    width: 170px;
    height: 170px;
    border-radius: 50%;
    background:#eff9fd;
    display: grid;
    place-content: center;
    margin: 0 auto;
    position: relative;

}

.dental-health-section .col-4 .health-img3{

    width: 170px;
    height: 170px;
    border-radius: 50%;
    background:#eff9fd;
    display: grid;
    place-content: center;
    margin: 0 auto;
    position: relative;

}



.dental-health-section .col-4 .health-img1::before{
    content: "1";
    position: absolute;
    font-size: 24px;
    font-weight: 700;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    right: 0;
    top: 10px;
    color: var(--color-white);
    background: var(--color-t);
}


.dental-health-section .col-4 .health-img2::before{
    content: "2";
    position: absolute;
    font-size: 24px;
    font-weight: 700;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    right: 0;
    top: 10px;
    color: var(--color-white);
    background: var(--color-t);
}


.dental-health-section .col-4 .health-img3::before{
    content: "3";
    position: absolute;
    font-size: 24px;
    font-weight: 700;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    right: 0;
    top: 10px;
    color: var(--color-white);
    background: var(--color-t);
}

.dental-health-section .btnnn {
        padding-top: 60px;
}


/* ====================testimonial========================== */


.testimonial-section{
    padding-top: 70px;
    padding-bottom: 80px;
}

.testimonial-section h2{
    font-size: 48px;
    line-height: 54px;
}

.card-content{
    padding-top: 46px;
    padding-bottom: 35px;
}

.author{
    margin-bottom: 40px;
}


.card-par{
    max-width: 885px;
    width: 100%;
}

.author-img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 20px;
}

.card-text p{
    position: relative;
    font-size: 18px;
    line-height: 24px;
    font-weight: 300;
    max-width: 628px;
    margin: 0 auto;
}


.card-text p::before{
    content: url(../img/up-cottetion.png);
    position: absolute;
    left: -19px;
    top: -6px;
}


.card-text p::after{
    content: url(../img/down-cottetion.png);
    position: absolute;
    right: -19px;
    bottom: 12px;
}


.author-content{
    margin-top: 22px;
}

.author-content p {
	font-size: 16px;
	line-height: 22px;
	text-transform: uppercase;
	margin-right: 49px;
}

.author-content h4{
    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;
}


/* ======================our-services-section==================== */


.our-services-section{
    margin: 85px 0px;
}


.row-qv {
	display: flex;
	gap: 81px;
}
.our-services-section p{
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
}

.our-services-section ul{
    max-width: 500px;
    margin: 0 auto;
}


.our-services-section li {
    position: relative;
}

.our-services-section li img {
	position: absolute;
	left: -38px;
	top: 5px;
}


.our-services-section a{
    text-decoration: none;
    color: var(--color-black);
    font-size: 18px;
    font-weight: 300;
}

/* =================oral-pain-section=============== */

.oral-pain-section{
    background: #eff9fd;
    padding-top: 70px;
    padding-bottom: 80px;
}


.oral-pain-section .col-12{
    
    max-width: 900px;
    margin: 0 auto;
    
}


.oral-pain-section .col-12 p{
    
    max-width: 797px;
    margin: 0 auto;
    
}

.oral-pain-section ul{
    display: flex;
    justify-content: center;
    padding-top: 50px;
}


/* ======================about-section=================== */



.about-section{
    margin-top: 100px;
}

.about-section .col-12{
    max-width: 926px;
    margin: 0 auto;
}


.dropdown button{
    color: var(--color-s);
}

/* ====================smile-section================== */

.smile-section{
    background: var(--color-t);
    padding: 75px 0px;
}

.smile-section ul{
    display: flex;
    justify-content: center;
    padding-top: 25px;
}


.smile-section h2{
    color: var(--color-white);
}


/* ===============footer-section====================== */

.footer-section{
    background: #222222;
}

.row-qa{
    display: flex;
}
.row-qb {
	display: flex;
	gap: 97px;
}

.col-6-jf{
    width: 50%;
}

.col-3-jg{
    width: 25%;
}

.col-3-jh{
    width: 25%;
}
.h3, h3 {
	font-size: 1.75rem;
	margin-left: 29px;
}
.footer-section p a{
    text-decoration: none;
    color: var(--color-white);
    transition: .3s;
}

.col-6-jx ul{
    display: flex;
    padding-top: 50px;
    gap: 20px;
}

.footer-section p a:hover{
    color: red;
}

.footer-section .naii ul li a{
    text-decoration: none;
}

.footer-section span{
    margin-right: 15px;
}

.texx p{
    font-size: 13px;
    max-width: 474px;
}

.atext a{
    text-decoration: none;
    color: var(--color-white);
}

.atext i{
    color:blue;
    margin-right: 10px;
}


/* =================last-section========================== */




.last-section{
    background: var(--color-black);
    padding-top: 10px
}



.last-section i{
    color: var(--color-white);
    transition: .3s;
}


.last-section i:hover{
    color: red;
}


.last-section p a{
    text-decoration: none;
}

.col-6-jd ul {
	display: flex;
	gap: 15px;
	margin-right: 30px;
}

.col-6-kj ul{
    display: flex;
    gap: 20px;
}

.last-text ul{
    padding: 0;
}
.last-text {
	display: flex;
	justify-content: space-between;
}





